/* Estilo para o corpo da página */
body {
    background-color: #f9e5f4;
    font-family: comic sans ms;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    text-align: center;
}

.contact-form {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.contact-form textarea {
    width: 100%;
    resize: none;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .footer {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .contact-form {
        position: static;
        width: 100%;
        margin-top: 10px;
    }
}

.propaganda {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Estilo dos slides do carrossel */
.carousel-slide {
    display: none;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Exibe o primeiro slide */
.carousel-slide:first-child {
    display: block;
}

/* Ajustes para telas menores (dispositivos móveis) */
@media (max-width: 768px) {
    .propaganda {
        position: static;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 0;
        box-shadow: none;
    }

    .carousel-slide img {
        border-radius: 0;
    }
}
/* Centraliza o container no meio da página */
.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 90vh; 
    background-color: #f9e5f4; 
    border-radius: 10px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); 
    background-image: url("pig.gif"); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 125%; 
    position: relative; 
}

/* Estilo para o formulário */
form {
    width: 100%; 
    max-width: 600px; 
}

/* Estilo para os campos do formulário */
.form-control {
    width: 100%; 
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }
}
footer{
    text-align: center;
}
