<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvar Mensagem</title>
</head>
<body>
    <form method="POST">
        <textarea name="mensagem" rows="4" cols="50" placeholder="Digite sua mensagem aqui..."></textarea>
        <br>
        <button type="submit">Salvar Mensagem</button>
    </form>
    {% if message_status %}
        <p>{{ message_status }}</p>
    {% endif %}
</body>
</html>
